:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --main-btn-color: #2196f3;
  --main-link-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding: 94px 15px;
  width: 1200px;
  outline: 2px solid tomato;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* колір заголовков #212121 */
/* колір основного текста #757575 */
/* active 2196F3 */
/* свторинний колір фону #F5F4FA */

/* Header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-link-color);
}

.logo:hover,
.logo:focus {
  color: var(--main-link-color);
}

.logo-studio {
  color: var(--main-title-color);
}

.logo-studio:hover,
.logo-studio:focus {
  color: var(--main-link-color);
}

/* ----------------site nav---------------- */
.header {
  align-items: center;
}
.main-menu {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  background: #f321c6;
  text-align: center;
}

.site-nav .link {
  display: block;
  padding-left: 32px;
  padding-top: 32px;

  color: var(--main-title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

.site-nav li .current {
  color: var(--main-link-color);
}

.auth-nav .item + .item {
  margin-left: 50px;
}

/* ----------------Hero---------------- */
.hero-list {
  display: flex;
}

.hero-list .item {
  width: 270px;
  background-color: tomato;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  outline: 2px solid blueviolet;
}

.hero {
  background: #2f303a;
  text-align: center;
}

.btn {
  display: inline-block;
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 34px;
}

.btn.primary {
  color: #ffffff;
  background-color: #2196f3;
}

.btn.secondary {
  color: #2196f3;
  background-color: #ffffff;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-title-color);
}

.benefits {
  margin-bottom: 0px;
  margin-top: 0;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
  width: 270px;
}

.benefits-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  width: 270px;
}

.section-subtitle {
  color: var(--second-title-color);
}

.team-conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-title-color);
}

.team-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-title-color);
}

.team {
  background: #f5f4fa;
}
/* ----------------Портфоліо---------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-title-color);
}

/* ----------------Footer---------------- */

.footer {
  background-color: #2f303a;
}

.conteiner-div {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  width: 1200px;
  outline: 2px solid tomato;
}

.footer-link {
  font-style: normal;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-adress {
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.portfolio-adress:hover,
.portfolio-adress:focus {
  color: #2196f3;
}

.portfolio-contacts {
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-contacts:hover,
.portfolio-contacts:focus {
  color: #2196f3;
}

.test-conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
}

.flex-conteiner {
  display: flex;
}

.flex-element {
  width: 380px;
  background: tomato;
  margin-right: 30px;
}

.flex-element: :nth-child(3n) {
  margin-right: 0;
}
